:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-items {
  color: #ffffff !important;
  margin: 10px;
}

.menu-items :hover{
  color: #494949 !important;
  margin: 10px;
}


.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #4075aa;
  color: white;
  font-weight: 600;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {
 
}
